body{
  margin: 0;
  padding: 0;
  
}
.product-title{
  display: block;
}
.product-line{
display: block;
width: 25%;
}
.product-price{
  display: block;
  margin: 0.3rem 0;
}
.card h1{
  display: inline;
}
button{
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;

}
button:hover{
  cursor: pointer;
  background-color: yellow;
  color: black;
}
.products{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 80%;
  position: relative;
}
.card{
  flex: 0 1 20%;
  border: 1px solid rgb(190, 184, 184);
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(253, 253, 253);
}
.app{
  display: flex;
  justify-content: space-around;
}

.sizes{
  display: flex;
  flex: 0 1 15%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.size-circle{
  padding: 0.5rem;
  background-color: rgb(190, 184, 184);
  border: 3px solid rgb(190, 184, 184);
  margin: 0.7rem;
  border-radius: 10%;
  cursor: pointer;
}
.size-circle:hover{
  border: 3px solid black;
}
.cart-logo{
  color: white;
  background-color: black;
  padding: 0.5rem;
  cursor: pointer;
  justify-self: flex-end;
}
h5{
  display: inline;
}
.order{
  margin: 2rem 0;
}
.cart{
  position: fixed;
  width: 30vw;
  background-color: black;
  color: white;
  height: 100vh;
  right: 0;
  bottom: 0;
  padding: 1rem;
}
.cart-head{
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.cart-logo-in{
  width: 60px;
}
.cart-close{
  cursor: pointer;
  align-self: flex-start;
}
.cart-items{
  height: 60vh;
  overflow-y: scroll;

}
.cart-item-img{
  width: 80px;
}
.cart-items::-webkit-scrollbar {
  width: 16px;
}

.cart-items::-webkit-scrollbar-track {
  background-color: #484242;
  border-radius: 100px;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #161514;
  border-radius: 100px;
}
.item-row{
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
}
.item-description{
 justify-items: flex-start;
}
.remove-item{
  cursor: pointer;
  align-self: flex-start;
}
.subtotal{
 display: flex;
 justify-content: space-around;
 padding: 1rem 0;
}
.checkout{
  background-color: #484242;
  color: white;
  font-size: 16px;
}
.checkout:hover{
 background-color: rgb(109, 94, 94);
}
.hidden{
  display: none;
}