body{
margin: 0;
padding: 0;
}
#root{
  margin: 0 auto;
  background-color: aquamarine;
  text-align: center;
  height: 100vh;
}
h1{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}
.app{
  padding-top: 25vh;
}
button{
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
span{
  font-size: 1.2rem;
  font-weight: bolder;
}